body {
  font-family: sans-serif;text-align: center;
  background-image: url('web design.jpg');background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.login-box {
  background-color: white; padding: 20px;  width: 300px;
  background-color: rosybrown;
  margin: 100px auto;
  border: 5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="password"] {
  width: 90%;padding: 8px;background-color: rgb(37, 37, 37);
  margin: 5px 0;
}
  
input[type="submit"] {
  padding: 8px 20px;
  background-color: rgb(4, 0, 236);
  color: white;border: none;
  text-shadow: #000000 1px 1px 2px;
}
 h1 {color: beige; margin: bottom 30px; text-shadow: #000000 1px 1px 2px;}
 h3 {color: rgb(0, 0, 0); margin: bottom 30px; text-shadow: #000000 1px 1px 2px;
     position: relative;
    animation: leftToRight 10s infinite linear;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    left: -100%;
 }

@keyframes leftToRight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

